
<div class = "container" >
    <h1 style = "margin-bottom: 20px; font-family: 'Luckiest Guy';">Upgrade your avatar!</h1>
   
    <div class = "items" >
        <div class = "item" style = "margin-right: 50px; min-width: max-content;">
            <p>{{item1.name}}</p>
            <img src = "../../assets/shop-img/cosmic.svg" style = "max-width: 150px;">
            <p>Coins required: {{item1.price}}</p>
            <button class="btn btn-primary btn-block"
            style = "background-color: #FFA0A1;
                   color: #633188;
                   border-style: none;
                   font-family: Prompt;
                   font-weight: bold;
                   padding: 10px" (click)="buyItem(url1, item1.id)">Buy </button>
        </div>

        <div class = "item" style = "margin-right: 50px; min-width: max-content;">
            <p>{{item2.name}}</p>
            <img src = "../../assets/shop-img/headphones.svg" style = "max-width: 150px;">
            <p>Coins required: {{item2.price}}</p>
            <button class="btn btn-primary btn-block"
            style = "background-color: #FFA0A1;
                   color: #633188;
                   border-style: none;
                   font-family: Prompt;
                   font-weight: bold;
                   padding: 10px" (click)="buyItem(url2, item2.id)">Buy </button>
        </div>

        <div class = "item" style = "margin-right: 50px; min-width: max-content;">
            <p>{{item3.name}}</p>
            <img src = "../../assets/shop-img/girly.svg" style = "max-width: 150px;">
            <p>Coins required: {{item3.price}}</p>
            <button class="btn btn-primary btn-block"
            style = "background-color: #FFA0A1;
                   color: #633188;
                   border-style: none;
                   font-family: Prompt;
                   font-weight: bold;
                   padding: 10px" (click)="buyItem(url3, item3.id)">Buy </button>
        </div>
   
</div>
</div>
