<div class = "container">
<div class = "questions" *ngFor = "let question of questions, let questionIndex = index">
<label style = "color: #28344E;">{{question.question}}</label>
<div class="form-group" *ngFor = "let option of question.options" style = "color: #28344E; margin-right: 20px;">
    <div class="radio" >
        <label >
            <input type="radio" name="option" value="option" (change)="onItemChange(option)">
           {{option}}
        </label>
    </div>
    <p *ngIf = "option !== question.answer && isSelected" style = "color: #FFA0A1;">Try again!</p>
</div>

<hr class="solid">
</div>
<app-next-button (click)="updateCns(); moveNext()"></app-next-button>
</div>


