<div class = "container">
<ul *ngFor="let question of questions, index as questionIndex">

<li class = "questions">
<h1 style = "color: #28344E;">{{question.question}}</h1>
<p style = "color: #28344E;" *ngFor="let option of question.options">
    <input class="form-check-input"
    [(ngModel)]="option.valueOf"
     (change)="onItemChange(option.valueOf)"
      type="radio"
      value="option" > {{option}}
  </p>
  <p *ngIf="!isCorrect" style = "color: #FFA0A1; font-size: 20px;">Try again!</p>
  <hr class="solid">
</li>

</ul><br>
<app-next-button (click)="updateCns(); moveNext()"></app-next-button>
</div>


